# Dependencies
vendor/
node_modules/

# Build artifacts
*.log
.phpunit.result.cache
.phpcs-cache

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
desktop.ini

# Local env
.env
.env.local
wp-config-local.php

# Local by Flywheel
*.local

# Tests
coverage/
phpunit.xml
phpcs.xml

# Composer
composer.phar
